<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpm.app.mapper.ScheduleMapper">
	<select id="getAllSchedules" resultType="com.dpm.app.schedule.ScheduleDto">
		select * from schedule;
	</select>

	<select id="getSchedulesByDate" resultType="com.dpm.app.schedule.ScheduleDto">
		select * from schedule where create_date = #{dateString};
	</select>
	
	<update id="modifySchedule" parameterType="com.dpm.app.schedule.ScheduleDto">
		update schedule set
    		promise_time = #{promiseTime},
		    title = #{title},
		    location = #{location},
		    finish = #{finish}, 
		    create_date = #{createDate}
		where id = #{id};	
	</update>
	
	<insert id="writeSchedule" parameterType="com.dpm.app.schedule.ScheduleDto">
		insert into schedule (user_id, promise_time, title, location, finish, create_date) 
		values(#{userId}, #{promiseTime}, #{title}, #{location}, #{finish}, #{createDate});
	</insert>
	
	<delete id="deleteAllSchedules">
		delete from schedule;
	</delete>
	
	<delete id="deleteSchedule">
		delete from schedule where id = #{id};
	</delete>
	
	<delete id="deleteSchedulesByDate">
		delete from schedule where create_date = #{dateString};
	</delete>
</mapper>
